// fonts

// lato font
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

// playfair
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");

// variable
$black: #000;
$white: #fff;
$primary-color: #eceff2;
$text-color: #19202c;
$body-fonts: "Lato", sans-serif;
$heading-font: "Playfair Display", serif;



// media Queries

$extra-small: "screen and (min-width: 320px) and (max-width:599px)";
$small: "screen and (min-width: 600px) and (max-width: 959px)";
$medium: "screen and (min-width: 960px) and (max-width: 1279px)";
$large: "screen and (min-width: 1280px) and (max-width: 1919px)";
$extra-large: "screen and (min-width: 1920px) and (max-width: 5000px)";

// base
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 10px;
  font-family: $body-fonts;
  background-color: $white;
  color: $black;
}

h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

// layout

.shoe_wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 65%);
    height: 100%;
    background: linear-gradient(225.63deg, #37445b -17.16%, #19202c 79.72%);
    z-index: -1;

    @media #{$extra-small}{
      display: none;
    }
  }
}

  .shoe__home-inner{
    padding-top: 6rem;
    @media #{$extra-small}{
      padding: 0;
    }
}
// navbar
.shoe__nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;

  @media #{$extra-small}{
    position: unset;
    background: #2D394C;
    padding: 2.5rem 0 1rem;
   
  }

  .nav__shoe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 3rem;
    padding: 1.5rem 0 1rem;

    @media #{$extra-small}{
      padding: 0;
    }
  

    .nav__logo{
      width: 60%;
      .nav__logo__web{
        @media #{$extra-small}{
          display: none;
        }
      }

      .nav__logo__mobile{
        display: none;
        @media #{$extra-small}{
          display: flex;
        }
      }
    }

    .shoenav {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;



      &__carts_toggle {
        display: flex;
        align-items: center;
        text-decoration: none;
      }

      &__searchbar {
        .shoe-input {
          background-color: $primary-color;
          @media #{$extra-small}{
            display: none;
          }
        }

        .shoe-input__mobile{
          display: none;
          @media #{$extra-small}{
            display: flex;
          }
        }
      }

      &__carts {
        padding-right: 2.25rem;

        .badge-carts {
          background-color: $primary-color;
          border-radius: 50%;
          padding: 0.3rem 0.5rem;
          color: $text-color;
        }
      }
    }
  }
}

// main

main {
  display: flex;
  align-items: center;
  height: auto;

  @media #{$extra-small}{
    height: auto;
  }
}

.shoe__home{

  @media #{$extra-small}{
    margin-top: 2.2rem;
  }
    
}

.social__icons{
  display: flex;
  align-items: center;
  width: 12%;
  justify-content: space-between;
  @media #{$extra-small}{
    width: 60%;
    margin: 1.2rem auto 0;

  }
  .icons__box{
    width: 36px;
    height: 36px;
    background-color: #303641;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media #{$extra-small}{

      background-color: #F1F1F1;
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "" !important;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid $text-color;
}

.shoe {
  &__bread {
    margin-bottom: 1.5rem;
    .breadcrumb {
      padding: 0 !important;
      background-color: transparent !important;
      .active {
        color: $text-color;
        opacity: 0.3;
      }
      a {
        text-decoration: none;
        color: $text-color !important;
      }
    }
  }

  &__info-inner {
    .info-heading {
      white-space: normal;
      font-family: $heading-font;
      font-size: 3.125em;
      line-height: 56px;

      @media #{$extra-small}{
        font-size:1.6em;
        line-height: 36px;
      }
    }

    .info__stars {
      display: flex;
      align-items: center;
      margin: 1.5rem 0;
      .start__vote {
        padding-left: 1rem;
        span {
          display: block;
          text-decoration: underline;
        }
      }
    }

    .info__price {
      display: flex;
      align-items: center;

      .price-big {
        font-size: 2rem;
        line-height: 42px;
        font-weight: 900;
        color: $text-color;
      }

      .price-normal {
        padding-left: 1rem;
        font-size: 1rem;
        line-height: 24px;
        color: $text-color;
        opacity: 0.3;
        font-weight: 500;
        text-decoration: line-through;
      }
    }

    .info__dis {
      margin: 1.5rem 0;
      p {
        font-size: 0.9rem;
        color: $text-color;
        line-height: 24px;
        font-weight: normal;
      }
    }

    .info__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      @media #{$extra-small}{
        width: 100%;
      }

      p {
        text-align: center;
        text-transform: uppercase;
        font-size: 0.8rem;
        color: $text-color;
        margin-bottom: 1rem;
      }

      .action-color {
        .color-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #ededed;
          box-sizing: border-box;
          border-radius: 25px;
          padding: 6px 6px;
          height: 42px;

          .box-color-inner {
            width: 24px;
            height: 24px;
            border: 1px solid #ededed;
            box-sizing: border-box;
            border-radius: 12px;
            margin: 6px;
          }

          .color-1 {
            background: $black;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .color-2 {
            background-color: #f3f3f3;
          }
          .color-3 {
            background-color: #7a3050;
          }
        }
      }

      .action-size {
        .select-box {
          border: 1px solid #ededed !important;
          border-radius: 25px !important;
          padding: 6px 10px !important;
          width: 108px;
        }
      }

      .action-quantity {
        .quan__content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #ededed;
          box-sizing: border-box;
          border-radius: 25px;
          border: 1px solid #ededed !important;
          padding: 6px 10px !important;
          width: 108px;
          height: 42px;

          .inds {
            font-size: 20px !important;
            color: $text-color;
          }
        }
      }
    }

    .info_shoe-btn {
      margin: 2rem 0;
      display: flex;
      @media #{$extra-small}{
        margin: 1.2rem 0;
      }

      .btn-add {
        // display: flex;
        // align-items: center;
        background: #3f88eb;
        border-radius: 100px;
        font-size: 1.1rem;
        color: $white;
        padding: 0.80rem 4rem;

        @media #{$extra-small}{
          width: 50%;
          padding: 0.60rem 1.5rem;
        }
      }

      .btn-list{
          padding-left: 1.5rem;
          @media #{$extra-small}{
            width: 50%;
          }
      }
    }

    .info__time{
      p{
        font-size: 12px;
        line-break: 14px;
      }
    }
  }
}

.shoe__sneaker{
  @media #{$extra-small}{
    display: none;
  }
}
.shoe__sneaker-img{
  display: none;
  @media #{$extra-small}{
    display: flex;
    justify-content: center;
  }
}